html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background: #fff;
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.header {
  margin-top: 30px;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.9px;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.header__nav-item {
  color: #101010;
  padding: 25px;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header__nav-item:hover {
  color: #968d8d;
  opacity: 0.4;
}
.header__contact {
  text-align: right;
  color: #a52424;
}

.name__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.name__info {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.name__title {
  color: #232323;
  font-size: 72px;
  font-weight: 700;
  letter-spacing: 7.2px;
  margin-bottom: 20px;
}
.name__subtitle {
  color: #101010;
  font-size: 22px;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: 1.1px;
  margin-bottom: 60px;
}
.name__btn {
  display: inline-block;
  padding: 20px 30px;
  text-decoration: none;
  color: #a52424;
  font-size: 18px;
  font-weight: 500;
  border: 1px solid #a52424;
}
.name img {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media (max-width: 920px) {
  .container {
    max-width: 900px;
  }
  .header {
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .name__block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    text-align: center;
  }
  .name__block img {
    width: 80%;
  }
  .name__title {
    text-align: center;
  }
}
@media (max-width: 600px) {
  .container {
    max-width: 100%;
  }
  .header__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .header__nav-item {
    padding: 15px;
  }
}